<div class="newblock__slider--wrapper col-xs-12 ">

  <%
 const colorPalete = {
    purple:'purple',
    blue:'blue',
    orange:'orange',
    green:'green',
    black:'black',
    gray:'gray',
    yellow:'yellow',
    brown:'brown',
    pink:'pink',
    neutral: '#afcfae94',
    white:'#e2dbdb',
    multicolor:'magenta',
    red:'red',
    darkblue: '#04046b',
    tan:'#D2B48C',
    cream:'#e8e486',
    turquoise:'#40E0D0',
    lightbrown:'#DEB887',
    lightblue: '#ADD8E6'
  }
  const newBlockImages ={
    0: "img/new1.jpg",
    1: "img/new2.jpg",
    2: "img/new3.jpg",
    3: "img/new4.jpg"
  }

  let iterator = 0;
  %>



  <% newProducts.forEach(function (product) { %>
  <div class="newblock__item--wrapper">
    <div class="newblock__item product ">
      <img src="<%= newBlockImages[iterator] %>" class="newblock__product--img" alt="rug" />
      <span class="newblock__product--title"><%= product.name %></span>
      <div class="newblock__product__price--wrapper">
        <span class="newblock__product--oldprice"><%= product.oldPrice %></span>
        <span class="newblock__product--newprice"><%= product.priceFrom %> - <%= product.priceTo %></span>
      </div>
      <ul class="newblock__product--colors">
        <% product.colors.forEach(function (color) { %>
        <li class="newblock__product--color" data-color="<%= color %>" style="background:<%= colorPalete[color]%>"></li>
        <% }) %>
      </ul>
    </div>
  </div>
  <% if(iterator === 3){
    iterator = 0
  }
    else iterator++
  }) %>

</div>
